.homeContainer{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.homeTitle{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

.aboutContainer{
    justify-content: center;
    width: 100%;
    max-width: 1024px;
    background-color: lightgrey;
    border-radius: 10px;
}