.header{
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
}

.headerContainer{
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;
}

.headerContainer.listMode{
    margin: 20px 0px 0px 0px;

}

.headerList{
    display:flex;
    gap: 40px;
    justify-content: center;
}

.headerListItem{
    display: flex;
    align-items: center;
    gap: 10px;
}

.headerListItem.active{
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
}

.headerTitle{
    margin-left: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.headerDesc{
    margin-left: 40px;
    margin-top: 0px;
}

.headerBtn{
    margin-left: 40px;
    margin-top: 0px;
    font-weight: 500;
    border: none;
    padding: 10px;
}

.headerSearch{
    height: 30px;
    width: 100%;
    margin-left: 40px;
    background-color: white;
    border: 3px solid yellow;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px;
    border-radius: 5px;
    position: absolute;
    bottom: -25px;
    max-width: 1024px;
}

.headerIcon{
    color: lightgray;

}

.headerSearchItem{
    display: flex;
    align-items: center;
    gap: 10px;
}

.headerSearchInput{
    border: none;
    outline: none;
}

.headerSearchText{
    color: black;
    cursor: pointer;
}
.date{
    position: absolute;
    top: 50px;
}
.options{
    position: absolute;
    top: 50px;
    background-color: lightgrey;
    color: black;
    border-radius: 5px;
    width: 200px;
}
.optionsItem{
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.optionCounter{
    display: flex;
    align-items: center;
    gap: 10px;
    color: black;
}

.optionCounterButton{
    width: 30px;
    height: 30px;
    border: 1px solid red;
    color: red;
    cursor: pointer;
    background-color: white;
}

.optionCounterButton:disabled{
    cursor: not-allowed;
}